*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-image{
    margin-left: 110px;
    width: 540px;
    height: 480px;
    display: inline-block;
}
section{
    display: inline-block;
    margin-left: 86px;
}
header {
    margin: 45px 0 145px 80px;
}
.link-header{
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    color: #989D9C;
    cursor: pointer;
    margin-right: 24px;
    text-decoration: none;
    border-right: 5px solid rgb(76, 76, 133);
    padding-right: 10px;
}
.button-header{
    background: #665AE1;
    border-radius: 20px;
    width: 130px;
    height: 41px;
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    cursor: pointer;
}
h1 {
    font-weight: 900;
    font-size: 60px;
    line-height: 90px;
    color: #515151;
}
p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;
}
.button-main {
    background: #ADFF00;
    border-radius: 30px;
    width: 239px;
    height: 64px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(104, 93, 93, 0.25));
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
    color: black;
}
main {
    margin-bottom: 5%;
}